nav{
    position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: rgb(123, 0, 123);
    color: white;
    padding: 10px;
    z-index: 1000;
}

nav ul{
    padding-top: 3px;
}

section{
    height: 2300px;
}

.panel-vids{
    display: grid;
}

.video-area{
    margin-top: -180px;
}

iframe{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin-top: 30px;
}

.nav-video{
    margin-top: -1490px;
}
