@font-face {
    font-family: 'BaW';
    src: url("../assets/fonts/BlackAndWhitePicture-Regular.ttf"), format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url("../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf"), format('truetype');
}

section{
    align-items: baseline;
    justify-content: center;
}

h1{
    font-family: 'BaW';
    font-size: 50px;
    font-weight: 50;
    color: white;
    margin-top: 10px;
}

p{
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 50;
    color: white;
    margin-top: -60px;
}

.panelvid{
    width: 300px;
    height: 300px;
    margin-top: -100px;
    background-color: rgb(178, 136, 0);
    border-radius: 20px;
}

.ulvid{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin-right: -46px;
}

.avid{
    width: 80px;
    height: 80px;
    margin: 6px;
    border-radius: 20px;
    background-color: rgb(114, 51, 0);
    background-size: cover;
    background-repeat: no-repeat;
}

#ico1{
    background-image: url('../assets/images/videos/pen.png');
}

#ico2{
    background-image: url('../assets/images/videos/aquarella.png');
}

#ico3{
    background-image: url('../assets/images/videos/crayon.png');
}

#ico4{
    background-image: url('../assets/images/videos/spray.png');
}

#ico5{
    background-image: url('../assets/images/videos/smosh.png');
}

#ico6{
    background-image: url('../assets/images/videos/print3d.png');
}





